body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: darksalmon;
}

.calendar-container {
  background-color: cornsilk;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.month-name {
  margin: 0;
  background-color: olive;
  color: white;
  padding: 30px;
  font-weight: bold;
}

.day-name {
  font-family: 20px;
  color: darkolivegreen;
  font-weight: bold;
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 20px 0;
  font-size: 20px;
  color: darkolivegreen;
  font-weight: 500;
}